---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  <section class="experience section">
    <div class="section-inner">
      <h2 class="heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="content">
        <div class="item">
          <div>{{ post.excerpt }}</div>
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
          {% include disqus.html %}
        </div><!--//item-->
      </div><!--//content-->
    </div><!--//section-inner-->
  </section><!--//section-->
  {% endfor %}
</div>



